@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	font-weight: 300;
	color: #62686f;
	background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.main-header{
	margin-top:100px;
	padding: 1px;
	text-align: center;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-position: center;
}
.main-header__avatar{
	display: block;
	margin: -70px auto 10px;
	border: 3px solid #fff;
	border-radius: 999px;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}
.main-header h1{
	color:#fff;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}
.main-nav {
	height:50px;
	padding:1px;
	text-align: center;
	background-color: #333;
}
.main-nav ul li {
	display: inline-block;
	margin: 0 10px;
}
.main-nav ul li a {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}
.main-nav ul li a:hover {
	text-decoration: underline;
}
header{
	text-align: center;
}
header h2:after{
	width:70px;
	content:"";
	display:block;
	margin:10px auto;
	border-bottom: 3px solid black;
}
.info-section {
	padding: 30px 60px;
	background-color: #fff;
}
.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.info-section__description {
  font-style: italic;
}
.whatido__skill-list {
	padding-top:30px;
	text-align:center;
}
.whatido__skill-list:after {
	content:"";
	clear:both;
}
.whatido__skill{
	float:left;
	width:33%;
	padding-top:120px;
	background-repeat: no-repeat;
	background-position: center top;

}
.whatido__skill--code {
	background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
	background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
	background-image: url(../img/skill-product.png);
}
.education-experience__list li{
	margin-top:50px;
	height:180px;
	list-style: none;
}
.education-experience__list li img{
	width: 180px;
	float:left;
	padding-right: 50px;
}
.education-experience__list h3{
	padding-top:15px;
}
.education-experience__list p{
	overflow:hidden;
}
.photos__list li{
	float:left;
	box-sizing: border-box;
	width: 25%;
	padding: 10px;
}
.photos__list img{
	width: 100%;
}